body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #196EE8;
    background: linear-gradient(to right, #196EE8, #0C2A59);
}
h1 {
    font-size: 43px;
    color: #aaeff6;
    font-family: "Playwrite NZ", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    margin-top: 100px;
}
.unit {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 40px;
    background-color: #0DADE2;
    border-radius: 25px;
    opacity: 0.9;
}

.form-group {
    display: flex;
    justify-content: space-between;
}

.log, .info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #08CDDF;
    padding: 20px;
    border-radius: 25px;
}

.go, .enter{
    width: 100px;
    align-self: flex-end;
    width: 100px;
    align-self: flex-end;
    margin-top: 20px;
    background-color: #196EE8;
    height: 27px;
    border:none;
    border-radius: 25px;
    color: #aaeff6;
    font-weight: bolder;
}
input {
    height: 22px;
    border: 2px solid #0c3773;
    border-radius: 15px;
}
button:hover {
    background-color: #0c3773;
    transition: 0.5s;
}

.log:hover, .info:hover {
    background-color: #aaeff6;
}
